<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Courses</title>
        {% load static %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
        <link rel="stylesheet" href="{% static 'course_app/css/style.css' %}">

    </head>
    <body>
        <div class="add_course">
            <h1>Hogwarts Courses</h1>
            <h5>Add New Course:</h5>
            <form action="/add" method="post">
                {% csrf_token %}
                <label for="name">Name: </label>
                <input type="text" name="name">
                <label for="description">Description: </label><br>
                <textarea name="description" cols="40" rows="4"></textarea><br>
                <input type="submit" value="Add">
            </form>
        </div>
        <div id="allcourses">
            <table>
                <tr>
                    <th><h3>Course</h3></th>
                    <th><h3>Description</h3></th>
                    <th><h3>Date Added</h3></th>
                    <th><h3>Action</h3></th>
                </tr>
                <tr>
                {% for course in courses %}
                    <td>{{course.name}}</td>
                    <td>{{course.description}}</td>
                    <td>{{course.created_at}}</td>
                    <td>
                        <form action="/remove/{{course.id}}" method="post">
                            {% csrf_token %}
                            <input id="remove" type="submit" value="Remove">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'course_app/js/script.js' %}"></script>
    </body>
</html>
