#Gryffindor {
    font-family: 'Raleway', sans-serif;
    color: #8C1111;
    font-size: 2em;
}
#Ravenclaw{
    font-family: 'Raleway', sans-serif;
    color: #31608F;
    font-size: 2em;
}

#Hufflepuff {
    font-family: 'Raleway', sans-serif;
    color: #DBC158;
    font-size: 2em;
}

#Slytherin {
    font-family: 'Raleway', sans-serif;
    color: #256322;;
    font-size: 2em;
}

p {
    font-family: 'Raleway', sans-serif;
}


.full-width {
    width: 100%;
}

.carousel-caption {
    position: absolute;
    top: 0;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
}
